*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}

.header{
    text-align: center;
    padding: 32px;
    color:white;
}

.header h1{
    padding-bottom:15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding:0 6px;
}

.column {
    flex:100%;
    max-width: 100%;
    padding:0 6px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.column img:hover{
    transform: scale(0.9);
}
@media (min-width:768px){
    .column{
        flex:50%;
        max-width: 50%;;
    }
}
@media (min-width:992px){
    .column{
        flex:25%;
        max-width: 25%;
    }
}